services:
  php:
    build:
      context: ./docker/php
    user: "${UID:-1000}:${GID:-1000}"
    environment:
      APP_ENV: ${APP_ENV:-dev}
      ENABLE_XDEBUG: ${ENABLE_XDEBUG:-0}
      PHP_IDE_CONFIG: ${PHP_IDE_CONFIG:-serverName=symfony-devstack}
      PHP_MEMORY_LIMIT: ${PHP_MEMORY_LIMIT:-512M}
      PHP_INI_SCAN_DIR: /usr/local/etc/php/conf.d:/tmp/php-conf
    extra_hosts:
      - "host.docker.internal:host-gateway"
      - "${SHOPWARE_HOSTNAME:-shopware.local}:${SHOPWARE_IP:-127.0.0.1}"
    volumes:
      - ${APP_DIR:-../app}:/var/www/html
      - ./docker/certs:/usr/local/share/ca-certificates:ro
    working_dir: /var/www/html

  nginx:
    image: nginx:alpine
    depends_on:
      - php
    ports:
      - "${APP_PORT:-8080}:80"
    environment:
      CLIENT_MAX_BODY_SIZE: ${CLIENT_MAX_BODY_SIZE:-64M}
    volumes:
      - ${APP_DIR:-../app}:/var/www/html:ro
      - ./docker/nginx/default.conf:/etc/nginx/templates/default.conf.template:ro
    # labels:
    #   - "traefik.enable=true"
    #   - "traefik.http.routers.symfony-devstack.rule=Host(`${APP_HOST}`)"
    #   - "traefik.http.routers.symfony-devstack.entrypoints=websecure"
    #   - "traefik.http.routers.symfony-devstack.tls=true"
    #   - "traefik.http.routers.symfony-devstack.tls.certresolver=yourresolver"

  db:
    image: mariadb:11
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: app
      MARIADB_USER: app
      MARIADB_PASSWORD: app
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    profiles: ["tools"]
    depends_on:
      - db
    ports:
      - "8081:8080"

  composer:
    image: composer:2
    working_dir: /app
    user: "${UID:-1000}:${GID:-1000}"
    extra_hosts:
      - "${SHOPWARE_HOSTNAME:-shopware.local}:${SHOPWARE_IP:-127.0.0.1}"
    volumes:
      - ${APP_DIR:-../app}:/app

volumes:
  db_data:

# networks:
#   default:
#   traefik-proxy:
#     external: true
